<!DOCTYPE html>

<html>

<head>
	<title>About</title>
	<link rel="icon" type="text/css" href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<div class="main-content">
		{{>header}}
		<p>This site was created by Carsten Champlin. It uses data from mapbox.com and weatherstack.com.</p>
		<img class="portrait" src="/img/profileImage.jpg">
	</div>

	{{>footer}}

</body>

</html>